@import url("https://fonts.googleapis.com/css2?family=Unlock&display=swap");

.container {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
}

.line {
  flex-grow: 1;
  height: 2px; 
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
}



.lineText {
  padding: 20px;
  font-size: 2.5rem;
  font-family: "Unlock", serif;
}

@media (min-width: 1195px) {
  .lineText {
    font-size: 4rem;
  }
}

@media (min-width: 1195px) {
  .lineText {
    font-size: 4rem;
  }
}



// .line-text {
//   display: flex;
//   align-items: center;
// }

// .line-text::before,
// .line-text::after {
//   content: '';
//   flex-grow: 1;
//   height: 2px;
//   background-color: black;
// }

// .line-text::before {
//   margin-right: 10px; /* Espaço entre a linha e o texto */
// }

// .line-text::after {
//   margin-left: 10px; /* Espaço entre a linha e o texto */
// }