@import url("https://fonts.googleapis.com/css2?family=Unlock&display=swap");

.container {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
}

.line {
  flex-grow: 1;
  height: 2px; 
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
}



.lineText {
  padding: 20px;
  font-size: 5vw;
  font-family: "Unlock", serif;
}