@import url("https://fonts.googleapis.com/css2?family=Unlock&display=swap");
// Função para gerar múltiplas sombras
@function multiple-box-shadow($n) {
  $value: "#{random(4000)}px #{random(4000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value}, #{random(4000)}px #{random(4000)}px #FFF";
  }
  @return unquote($value);
}

// Definindo as sombras
$shadows-small: multiple-box-shadow(1000);
$shadows-medium: multiple-box-shadow(700);
$shadows-big: multiple-box-shadow(400);

.parallaxSection {
  position: relative;
  height: 100vh; /* Ocupa a altura total da viewport */
  overflow: hidden; /* Oculta o excesso */
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #fff;
  background: radial-gradient(ellipse at bottom, #0c1116 0%, #090a0f 100%);
}

.container {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image {
  border-radius: 100%;
  height: 20rem;
  border: 0.5rem solid white;
}

.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3rem;
}

.content1 p {
  font-size: 2rem;
  font-family: "Unlock", serif;
  padding-top: 0.5rem;
}

.content2 {
  max-width: 37rem;
  height: auto;
}

.download {
  height: 1.5rem;
}

.content2 p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0.6rem;
  padding-bottom: 5rem;
}

.content2 h1 {
  font-size: 3rem;
  font-family: "Unlock", serif;
  padding: 0.5rem;
  text-shadow: 10px 10px 15px rgba(251, 251, 251, 0.5);
  text-decoration: underline;
}

.cv {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border: 0.3rem solid white;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: #000000;
}

.cv:hover {
  border: 0.3rem solid rgb(98, 124, 239);
}

@media (max-width: 65rem) {
  .container {
    flex-direction: column;
    margin-top: 1rem;
  }
  .content1 {
    margin: 0px;
  }
  .content1 p {
    font-size: 2rem;
    font-family: "Unlock", serif;
  }
  .content2 {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content2 p {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  .content2 h1 {
    font-size: 2rem;
    font-family: "Unlock", serif;
    padding: 0.5rem;
  }
  .cv {
    font-size: 1.2rem;
  }
  .image {
    height: 15rem;
  }
}

@media (max-width: 29rem) {
  .content1 {
    margin: 0px;
  }
  .content1 p {
    font-size: 1.5rem;
    font-family: "Unlock", serif;
    padding-bottom: 1rem;
  }
  .content2 {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content2 p {
    font-size: 1rem;
    width: 20rem;
  }
  .content2 h1 {
    font-size: 1.5rem;
    font-family: "Unlock", serif;
    padding: 0.5rem;
  }
  .image {
    height: 11rem;
  }
}

@media (min-width: 125rem) {
  .content2 {
    max-width: 80rem;
  }
  .content2 p {
    font-size: 3rem;
    text-align: initial;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .content2 h1 {
    font-size: 6rem;
    width: auto;
  }
  .content1 p {
    font-size: 3.5rem;
    margin-top: 2rem;
  }
  .image {
    height: 30rem;
    border: 1rem solid white;
  }
  .cv {
    font-size: 3rem;
  }
  .content1 {
    padding-right: 7rem;
  }
}

// Estilos para os elementos
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 100%;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 100%;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

#horizon {
  position: absolute;
  width: 160%;
  height: 70%;
  border-radius: 100% / 100%;
  background: #038bff;
  filter: blur(30px);
  left: 50%;
  bottom: -20%;
  margin-left: -80%;

  &:before {
    content: " ";
    position: absolute;
    width: 81.25%;
    height: 70%;
    border-radius: 100% / 100%;
    background: #51afff;
    filter: blur(30px);
    opacity: 0.6;
    margin-left: 9.375%;
  }

  &:after {
    content: " ";
    position: absolute;
    width: 32%;
    height: 20%;
    border-radius: 650px / 350px;
    background: #b0daff;
    filter: blur(30px);
    opacity: 0.5;
    margin-left: 34%;
  }

  .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100% / 100%;
    background: #215496;
    filter: blur(200px);
    opacity: 0.7;
    top: -10%;
  }
}

#earth {
  position: absolute;
  width: 200%;
  height: 100%;
  background: black;
  border-radius: 100% / 100%;
  left: 50%;
  bottom: -50%;
  margin-left: -100%;

  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100% / 100%;
    box-shadow: inset 0px 0px 62px 20px rgba(60, 105, 138, 0.85);
  }

  &:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100% / 100%;
    background-image: linear-gradient(
      left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

// Animações
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes animGravity {
  0% {
    transform: translateY(-26px);
    opacity: 0;
  }
  30%,
  80% {
    letter-spacing: 40px;
    padding-left: 40px;
    transform: translateY(0px);
    opacity: 1;
  }
  92%,
  100% {
    letter-spacing: 35px;
    padding-left: 35px;
    transform: translateY(-4px);
    opacity: 0;
  }
}
